<section class="container">
  <h2 class="titulo">Extrato de Transferencias</h2>
<table class="tabela">
  <thead class="tabela__cabecalho">
    <th class="tabela__cabecalho__conteudo">Destino</th>
    <th class="tabela__cabecalho__conteudo">Valor</th>
    <th class="tabela__cabecalho__conteudo">Data</th>
  </thead>
  <tbody *ngIf="transferencias.length > 0; else listaVazia" >
    <tr class="tabela__linha" *ngFor ="let transferencia of transferencias">
      <td class="tabela__conteudo">{{transferencia.destino}}</td>
      <td class="tabela__conteudo">{{transferencia.valor | currency}}</td>
      <td class="tabela__conteudo">{{transferencia.data | date: short}}</td>
    </tr>
  </tbody>
</table>

<ng-template #listaVazia>
  <p>Nenhuma operação Castrada</p>
</ng-template>
</section>
